[2017-05-03 14:05] eavichay opened #4 "Support shadyCSS"
If Slim.__WCSupported is false, replace in style nodes ":host" with the tag name and unique identifier as custom attr

[2017-05-03 19:19] #4 closed, assigned to nobody

[2017-05-04 07:35] eavichay opened #5 "Babel > IE11 syntax error"
https://plnkr.co/edit/hNVOfJX3CKuT8hIZXUsD?p=preview

[2017-05-04 11:11] #5 closed, assigned to nobody

[2017-05-04 17:49] eavichay opened #6 "slim-repeat inside slim-if (when false) does not populate correctly"

[2017-05-04 18:29] #6 closed, assigned to nobody

[2017-05-07 09:58] eavichay opened #7 "Add method manipulation for text"
<div bind>Hello, [[myMethod(myProperty)]]</div> should work also in text bindings.

[2017-05-09 09:45] eavichay opened #8 "find / findAll doesn't search inside shadow root if exists"
this.shadowRoot.querySelector works. Alter the method to work with shadow root if exists

[2017-05-09 17:37] #7 closed, assigned to nobody

[2017-05-11 06:13] #8 closed, assigned to nobody

[2017-05-29 11:03] snuggs opened #13 "Deprecate v0 custom element reactions"
https://github.com/eavichay/slim.js/commit/bfcb46438f0cf24af90f8e1ad13412dfe28ba9f4

If we are going to migrate to v1 registration I feel we can deprecate the hooks for the v0 callbacks _(i.e. attached / detached)_ . Will make slim a touch slimmer. ;-) <3

Let me know if you need me to PR this.

[2017-05-29 11:06] eavichay commented on #13
You should update your code. Im beyond that already.

[2017-05-29 11:38] snuggs commented on #13
Not certain you understand what I mean @eavichay.

For example: v0 callback
https://github.com/eavichay/slim.js/blob/master/src/Slim.js#L737
Can be inlined to v1 callback
https://github.com/eavichay/slim.js/blob/master/src/Slim.js#L721-L723

[2017-05-29 11:41] eavichay commented on #13
Currently it should support V1 with fallback to V0 if someone decides to use document.registerElement. If you think it should be dropped completely - your'e welcome but It smells like a breaking change so as long as it's not an issue, I'd prefer keeping it, at least until version 3 it out. Currently it looks like version 3 has real performance issues and good chances i'll drop it completely, thoug

[2017-05-29 11:46] snuggs commented on #13
:thinking: great question. However I feel the current API is great and should encourage NOT having the author define the custom element themselves. I feel this is one of the main reasons to even use slim.js.Let someone else worry about the movement of the spec. Like i said the thing i learned best from ruby is enforced conventions often remove tons of edge cases of configuration. #FreeJewelry 💍 💎

[2017-05-29 11:49] snuggs commented on #13
As you said yesterday. Can remove an extra function call on the call stack... :-) @eavichay

[2017-05-29 11:49] eavichay commented on #13
What if someone is not using onAdded/onRemoved but is overriding attachedCallback and calling super? It will not execute at all. It's a breaking change. I am all for this change, but I think it could wait for version 3, once the engine is rewritten.

[2017-05-29 11:51] snuggs commented on #13
Well @eavichay  as you mentioned in the comments it's recommended to not override. Just move that comment to the README et voila (as they say in Paris 🇫🇷 )

https://github.com/eavichay/slim.js/blob/master/src/Slim.js#L734

[2017-05-29 11:52] eavichay commented on #13
viola

[2017-05-29 11:55] eavichay commented on #13
join the gitter channel please

[2017-05-29 11:55] snuggs commented on #13
As an addendum the one thing we lose from moving to customElementRegistry we begin to lose the ability to extend from derivatives of `HTMLElement` (i.e. `HTMLParagraphElement`) however. Which is another can of worms for later. You don't expose that api so that's not such a concern for `slim.js`. /cc @RobertChristopher

[2017-06-07 08:22] eavichay commented on #13
I agree. It should be deprecated.

[2017-06-09 22:26] snuggs commented on #13
Ok will work on this this weekend @eavichay

[2017-06-11 18:04] dimwell-git opened #14 "Typo ?"
Hi, I would like to know what is the purpose of having 2 same lines in the src file ?

Line: 855            self._boundChildren.push(child);
Line: 856            self._boundChildren.push(child);

Is it a typo ?

[2017-06-11 19:22] eavichay commented on #14
Looks like it.

[2017-06-12 07:07] #14 closed, assigned to nobody

[2017-06-18 17:19] #13 closed, assigned to nobody

[2017-07-13 15:28] mandymozart opened #18 "registerElement causes conflict with current webcomponents-lite.js polyfill in Firefox"
I found the use of deprecated **document.registerElement()** caused slim.min.js to throw an error in the following function.

I fixed the issue by uncommenting the new **window.customElements.define()**.

Is there a specific reason why this is uncommented in the first place? Thank you very much.

[code]

[2017-07-13 15:39] eavichay commented on #18
see issue #16

[2017-07-14 07:50] mandymozart commented on #18
@eavichay excellent, glad to know its fixed. This is supposingly in the current release in npm?

[2017-07-17 08:04] #18 closed, assigned to nobody

[2017-07-18 15:36] mandymozart opened #19 "How to do constructor injection?"
I want to do custom templates through a by overwriting the template getter.
And I want to inject an EventManager (potentially I will inject other things as well)

I get a Illegal constructor TypeError if I do that.

**example.ts**
[code]

and in main.ts I create the component like this:
[code]

This error message I still get:
[code]

Is there any way to achieve something like this?

Thank you very

[2017-07-19 07:04] eavichay commented on #19
the Example component's prototype will have a template getter that returns null.
Try in your main.ts doing this:

[code]

can you put your code in webpackbin or similar?

[2017-07-19 12:58] mandymozart commented on #19
I did put together a sandbox in webpackbin

https://www.webpackbin.com/bins/-KpPuTpl9q-E_E6KSmBr

And we here at the office wanted to ask you, if there is a specific reason why you emit "Illegal constructor TypeError" and do not allow injections? Or is there a possible fork that we can provide to the issue?

With very kind regards and thanks for you help
tilman

[2017-07-20 07:59] eavichay commented on #19
for some reason i cannot edit or view any of the files in your bin

[2017-07-20 08:06] eavichay commented on #19
basically, custom elements should not have arguments in their constructors, as they are created from the HTML. slim provides an injection mechanism (currently not yet documented) that is invoked between the "onBeforeCreated" and "onCreated". example:

[code]

and in your source code best used before the HTML is created

[code]

if The injection is declared before <my-element> (or any other element

[2017-07-20 08:57] mandymozart commented on #19
you just have to click on **Copy Bin** in the left sidebar than you can edit you own derivative.

[2017-07-20 09:20] eavichay commented on #19
I'm not sure what you are trying to achieve. If you want to use arbitrary templates, wrap them in template tag and not use existing declared custom element tag

...

do you wish to inject your template during runtime from template provider?

[2017-07-21 15:47] snuggs commented on #18
@eavichay @porschuetz missed a little cleanup in the process.

https://github.com/eavichay/slim.js/pull/20

[2017-07-21 19:57] eavichay commented on #18
2.9.10 released

[2017-07-24 09:04] mandymozart commented on #19
yes, that was the idea. We are building an app that is unfortunately strongly backend rendering based and I have to avoid duplicate dom at runtime at a minimum. I found a way around within our workflow.

[2017-07-24 09:12] mandymozart opened #21 "Recursive Repeaters"
I understood right, recursive repeaters are not possible?
this is the use case.
[code]

[2017-07-24 10:09] eavichay commented on #19
1. use injections <my-tag template-provider="{myTemplateProvider}" ...>
2. before the element is created, declare the injection Slim.inject('myTemplateProvider', () => templateProviderInstance)
3. on the class itself, declare a template getter.... class MyClass { get template() { return this.myTemplateProvider.getTemplate() } }

during the creation routine the injection will take place, during the

[2017-07-24 10:11] eavichay commented on #21
nested repeaters should work, could you upload a code with the problem?

in your example, your are recursively repeating the same element into itself, which may get into an endless loop.

[2017-07-24 10:33] eavichay commented on #21
interesting question. Never tested, but make sure your data isn’t repeating endlessly

[2017-07-24 10:47] eavichay commented on #21
have you considered wrapping the <sws-navigation-item> (in the template) with a div using slim-if="item.childLayer" ?

[2017-07-24 11:13] eavichay commented on #19
Please let me know if that works for you and we can close this thread

[2017-07-24 13:40] mandymozart commented on #21
https://www.webpackbin.com/bins/-KpogSA1DfBiTEvX04CO

Yes, I did, and my data tree is not endless. (see the console. it parses a mock data tree)

works like a charm. =) thanks.
![screen shot 2017-07-24 at 15 45 27](https://user-images.githubusercontent.com/1228101/28526104-c8a05c00-7086-11e7-8b11-3553c9b6043d.png)

Update: It actually ignored the 3rd layer already. . it doesn't recurse. I have ove

[2017-07-24 13:43] #21 closed, assigned to nobody

[2017-07-25 12:37] mandymozart commented on #19
hey Avichay, due to the many issues I had trying to implement with your library I had to drop it for the current project. But I understand how difficult it is to concentrate on certain features of a library.

[2017-07-25 12:37] #19 closed, assigned to nobody

[2017-07-25 14:00] eavichay commented on #19
:( what was the problematic feature that made you drop it?

[2017-11-10 03:50] bkcsfi opened #27 "slimjs.com domain name does not resolve"
dns not setup? I see the domain was updated in the past 24 hours, but even google doesn't have an IP for the domain

[code]

[2017-11-10 20:17] eavichay commented on #27
Had some migration to aws issues. Now should work.

[2017-11-10 20:17] #27 closed, assigned to nobody

[2017-12-06 19:53] sharontz opened #30 "bind attribute works only with property names longer than one letter"

[2017-12-06 19:55] sharontz opened #31 "wrapGetterSetter function - undefined descriptor (getOwnPropertyDescriptor)"

[2017-12-10 11:32] #31 closed, assigned to nobody

[2018-01-21 23:09] nevf opened #34 "Scoped css"
I am currently using Riot.js in my Web App Clibu and like the look off slim.js, especially as it doesn't require a compile step and child component access seems simpler.

Riot.js enables css to be specified along with the component markup, scoping it to the component.

I couldn't see any mention of css in your doc's - is this possible?

[2018-01-22 05:40] eavichay commented on #34
Using SHADOW DOM plus adding your style node into your markup is the way to go.
[code]

[2018-02-22 19:51] linvi opened #35 "Server Side Rendering"
Hello,

I wanted to know if slim.js supports server side rendering. I have been looking at the documentation to see if this feature was available but I could not find any mention of it.

Thank you for your help and good job.

Linvi

[2018-02-25 07:34] eavichay commented on #35
@linvi
Hi. Web Components are a client-side only technology. It is based on native DOM API (which only runs in the browser). The whole point of using web components and custom elements is to extend the primitive elements exists on the browser (i.e. span, div, etc.) and create new ones with code-behind and logic.

You could generate code in the server and load only the components in use.

If you co

[2018-02-26 13:22] linvi commented on #35
Hello,

I am aware that web components are based on browser rendering but I was just wondering how to render web components for robots that unlike google do not execute javascript.

I am planning on using node in the backend to execute the javascript necessary by the web component.

Your input would be greatly appreciated.

Thanks,
Linvi

[2018-02-26 20:28] eavichay commented on #35
You can use aria-* attributes that helps robots understand what is going on the website.
Robots (as google says) can read web-components. They do not care about div vs. span but they do care about metadata and aria-* attributes.

[2018-02-26 23:56] linvi commented on #35
Thank you for the feedback, I will read more about the subject.

Cheers,
Linvi

[2018-02-26 23:56] #35 closed, assigned to nobody

[2018-03-06 20:49] tcmacdonald opened #38 "Repeatable Option Elements Not Rendering in Safari"
I’m having some trouble using the `slim-repeat` and `slim-repeat-as` attributes with `<option>` elements in Safari.

Here’s an example…

[code]

When viewing this example in Safari, the `<li>` elements render correctly but there are no options available when interacting with the `<select>` element. The console does show the iterated elements but they are not accessible to the user (screenshot [her

[2018-03-08 07:33] eavichay commented on #38
@tcmacdonald Thanks for the update.
Which slim.js version are you working with?

Currently there are no automated tests on safari (only in chrome). AFAIK Safari worked just fine as there is a custom detection for non-chrome browsers for a different behaviors with repeaters. I will try to use several versions and see what went wrong (or maybe Safari made an update in their rendering engine).

### M

[2018-03-12 21:28] tcmacdonald commented on #38
Thanks for the feedback @eavichay. I'm using version 3.2.3.

I played around with your suggested workaround. My array of options is being populated asynchronously so a redraw/rebind is really intriguing.

Whenever I invoke `render()` with a really simple template, it works just fine but when I try to redraw something more complex, it throws the following exception...

[code]

I assume I'm doing th

[2018-03-15 06:12] #38 closed, assigned to nobody

[2018-03-15 06:20] eavichay commented on #38
Thanks for the feedback. Please try upgrade to 2.3.4 I just released a fix. Your description may point out another potential bug. If you can please provide your full class code (Are you using Slim.tag or decorators?).

[2018-03-15 09:53] eavichay commented on #38
@tcmacdonald Sorry, fixed in 2.3.6

[2018-03-19 08:39] eavichay commented on #30
Good catch. Easy to fix by changing the regular expression.
Labeling this for beginners, if nobody picks it up, I'll fix it soon.

[2018-03-28 12:10] David-Mulder opened #39 "Support shadyCSS"
Style encapsulation seems to be an important part missing in slim.js . Considering the "slim" nature I think it's good to leave it out by default, but an optional decorator allowing one to use it would be amazing.

It's fairly easy to 'trick' shadyCSS with

    const templateEl = document.createElement('template');
    templateEl.innerHTML = templateContent;

etc.

[2018-03-28 12:12] David-Mulder opened #40 "Describe better how to get it running on IE11"
I ended up needing a Reflect and Symbol polyfill, and it was an absolute pain getting it up and running (still need to do some debugging), but it would be good to document this better.

Notes: Only polyfill that ended up working for me was the one included in the `babel-polyfill` package. Directly including Reflect from both v5 and v6 of `core-js` didn't work, nor did `harmony-reflect` work for me

[2018-03-28 12:28] David-Mulder opened #41 "@attribute throws 'cannot read property push of autoBoundAttributes'"
![image](https://user-images.githubusercontent.com/46602/38028751-1ed8de38-3294-11e8-9dc6-04d90e27485d.png)

This is in combination with Webpack and Babel, using the following code

    @tag('some-element')
    class A extends Slim {
      @attribute
      myProperty // bounds to my-property attribute automatically.
    }

[2018-03-28 12:30] David-Mulder commented on #34
Except that this won't work in IE11 which is still commonly supported :'( ShadyCSS support would be nice.

[2018-03-29 06:02] David-Mulder opened #42 "Missing documentation for event handlers"
Per title

[2018-03-29 08:13] eavichay commented on #39
Please elaborate, or show code samples?

[2018-03-29 08:16] eavichay commented on #40
Reflect and Symbols aren't part of slim.js library, and not using these as dependencies. I ended up using a simple string instead of symbol, to support the less useful browsers.

Adding babel-polyfill on a transpiled project is a must, but again, it's not part of slim.js library. I think there should be a documentation note regarding support for IE11. Basically, using the standard polyfills does t

[2018-03-29 08:17] eavichay commented on #41
10x

[2018-03-29 08:18] eavichay commented on #42
I'm not sure what you mean, the built-in native element support (i.e. 'click', 'dblclick', 'mousemove' etc.)?

[2018-03-29 08:22] eavichay commented on #34
Basically, if you use ShadyCSS you can always trigger the applyShadyCss on your element in the 'onRender' function. I think that a shady-css "polyfill" can be added (externally) as an optional file in slim.js package, as the actual file size is critical. Simply override the base class' connectedCallback and add the shadyCss apply trigger.

WDYT?

[2018-03-29 08:39] David-Mulder commented on #34
Will have to take a look at the `applyShadyCss` function, didn't realize that was possible as well.

[2018-03-29 08:40] David-Mulder commented on #39
Duplicate of #34, just didn't know that issue existed when I wrote this.

[2018-03-29 08:40] #39 closed, assigned to nobody

[2018-03-29 08:44] David-Mulder commented on #40
Well, as I am making a component to be used on a variety of websites rather than a full website minimal script size is important. Right now I accept that old browsers will need a lot of polyfills, but at least into the future I don't think we want those.

Anyway, in the end I did get it working with just the Reflect polyfill from core js and a Symbol polyfill (without babel-polyfill)... but I am c

[2018-03-29 08:45] David-Mulder commented on #42
Yeah, only found out about that because I was going through the chat room and saw somebody use it

[2018-03-29 08:45] David-Mulder commented on #41
?

[2018-03-29 08:49] David-Mulder opened #43 "onAdded gets triggered twice in Firefox"
Might be in more browsers, but `onAdded` gets triggered once in Chrome and twice in Firefox.

[2018-03-29 08:59] David-Mulder opened #44 "Binding system + loop behaves oddly (errors in chrome and ignored in Firefox)"
Given

    this.tests = ['a', 'b', 'c'];
    setTimeout(() => {
        this.tests = ['d', 'e'];
    }, 1000);

and

        <div s:repeat="tests as test" bind>
            {{test}}
        </div>

it will show in Firefox:

in Chrome:

\+

![image](https://user-images.githubusercontent.com/46602/38079850-32c41384-3340-11e8-89a7-0f88768578b4.png)

[2018-03-29 10:45] David-Mulder commented on #44
<div s:repeat="tests as test" class="wecoma-consent-bar-purpose">
        <span bind>{{test}}</span>
    </div>

Fixes the error in chrome, but does not fix the Firefox problem. And just FYI, the `Slim.qSelectAll` returned a `br` for some unknown reason.

[2018-03-29 10:47] David-Mulder commented on #44
And somehow looked totally over the fact that Firefox is throwing a

error on line 234.

[2018-03-29 10:55] David-Mulder opened #45 "`ev.target` doesn't have repeater bindings bound in Firefox"
In Firefox I need to do

    const purpose = ev.target['_slim_internals_'].repeater.purpose;

to access something from the repeater scope, whilst in Chrome I can do

    const purpose = ev.target.purpose

[2018-03-29 11:56] eavichay commented on #40
Can you share the code, please?

[2018-03-29 11:57] eavichay commented on #42
Good catch.

[2018-03-29 11:59] eavichay commented on #41
Need to add a default value to the decorator, something like `... target.constructor.autoBoundAttributes = target.constructor.autoBoundAttributes || []` before pushing it.
Would you like to contribute or want me to do it myself?

[2018-03-29 11:59] eavichay commented on #43
Awkward. This should not happen. Will check.
Thanks for the good catch.

[2018-03-29 12:03] eavichay commented on #45
Please add the full code so I could reproduce, please.
The current problem is that there are two different repeater mechanism: one for chrome/safari and the second for the other browsers. The polyfills do mimic the behavior but reacting to mutation observer is different than how the browser natively supports custom elements.

Repeating elements (even nesting) seems to work (check the documentation

[2018-04-01 06:44] eavichay commented on #45
I would like to know in what part of the lifecycle you are trying to fetch the data.

[2018-04-01 08:45] eavichay commented on #45
Fixed on 3.2.7

[2018-04-01 08:45] #45 closed, assigned to nobody

[2018-04-01 09:01] eavichay commented on #43
Cannot reproduce. Please try latest, if still happens, repoen and please provide code example.

[2018-04-01 09:01] #43 closed, assigned to nobody

[2018-04-01 09:03] eavichay commented on #34
I will add automatically invocation of shadyCSS on the connectedCallback, but polyfills must be loaded beforehand for performance...

[2018-04-09 20:11] eavichay commented on #44
fixed in 3.2.7
🍾

[2018-04-09 20:11] #44 closed, assigned to nobody

[2018-04-09 20:14] eavichay commented on #41
@David-Mulder Using polyfills, property attribute cannot target the correct class, as the actual HTML element's class is not the one provided by the code. I will try to look up some way to workaround this, but for now, this attribute remains undocumented as it doesn't work properly.

[2018-04-14 02:24] vogloblinsky opened #46 "ES6 version with good export"
Is it possible to change the Slim.es6.js file ?
You are using an UMD module inside Slim.js
It could be better to export directly Slim class in Slim.es6.js, and add your UMD stuff during ES5 build.

[2018-04-16 05:40] eavichay commented on #46
Basically, if you choose to work with webpack or other bundlers, you may want to import the default Slim.js file. The export is done manually in the src/Slim.js file. You are welcome to PR and add other export options.
👍

[2018-04-16 06:54] vogloblinsky commented on #46
sorry i forgot to say that it is for using it directly inside a js file, inside an ES6 module in the browser.
i mean with type="module"
i will push the PR asap

[2018-04-16 13:46] eavichay commented on #46
That would be awesome. Thanks

[2018-04-19 06:08] DaSchTour opened #47 "Content transclusion"
I'm not sure if this is a missing feature or just missing documentation. Is there any possibility to transclude the content inside a component into a slot inside the template or create a component without template that preserves the content inside?

[2018-04-22 07:07] eavichay commented on #47
@DaSchTour Content transclusion is provided by default using shadow DOM and `<slot />` nodes. This is part of the native custom elements' [API](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/slot). If you believe transclusion should be a feature on non-shadow-DOM elements, this can be done using the plugins/extensions of Slim.

`Slim.customDirective`, or `Slim.plugin`.

Worth discussion

[2018-04-22 08:25] #34 closed, assigned to eavichay

[2018-04-22 08:27] eavichay commented on #40
slim.js does not use Reflect. It must be babel/transpilation related. Please share code for more information.

[2018-04-27 21:45] eavichay commented on #46
@vogloblinsky When could I expect your PR?

[2018-06-07 19:17] viggin543 opened #49 "slim.js doc website - github button not working on firefox"
on Firefox 61.0b11 (64-bit).
clicking this btn opens a tab with  about:blank in the url.

[2018-06-08 08:14] eavichay commented on #49
@viggin543 will check.

[2018-06-10 13:55] #47 closed, assigned to nobody

[2018-06-11 20:51] eavichay commented on #49
fixed

[2018-06-11 20:51] #49 closed, assigned to eavichay

[2018-06-11 21:31] eavichay commented on #42
[here](https://github.com/slimjs/slim.js/wiki/Events-&-Interactivity)

Will add soon to the website.

[2018-06-11 21:31] #42 closed, assigned to nobody

[2018-07-05 03:37] hagen opened #50 "Model passed in using 'create' plugin does not retain changes"
I'm using the approach described here: http://slimjs.com/#/plugins to supply the component with data.
The model is just a JS object.
When my components make changes, these are not being reflected in the model. The components are working with the changes (for example, an `s:if` condition will react when the value of the property changes), but I don't see that in the original model. Am I missing som

[2018-07-05 03:45] hagen commented on #50
So it's because I'm binding child elements to nested properties. If you do this, changes to those properties in the child component don't come back up the chain. Is that correct?

[2018-07-05 08:05] eavichay commented on #50
Question: Why do you place your own tag into the template? This is like having a recursive element which nests itself endlessly.

Does this works for you?

[code]

[2018-07-05 08:07] eavichay commented on #50
Regarding bindings. If you make modifications into nested properties, there is no autodetection. Working with immutables is the practice.

If you have to work with nested changes, call the ::this.commit(propName) which will trigger as if it detected the change.

[2018-07-05 21:50] hagen commented on #50
The parent tag shouldn't be there. Bad, bad example! Sorry to confuse the issue.

Re bindings, this is the PAP approach right? If you have to bind to nested props, then use another (child) Slim component. Each level of nesting in my model should have a corresponding child Slim component that'll bind at that level. I think I've got it now.

[2018-07-05 22:52] hagen commented on #50
I can't get my head around this.
I have this structure:

[code]
And to this parent component, I inject the `data` model at `'create'`. This model has a collection, `items`.
[code]
Injected:
[code]
Now the child component

[code]
And finally, the `editable-link` component (this is just an anchor/input toggle to allow editing of the anchor by clicking it. I'm using key.enter and key.escape as direct

[2018-07-06 03:31] hagen commented on #50
For now, I've worked around my lack of understanding using `this.callAttribute()` to pass data back up to parent elements. This eventually reaches the `parent-component`, where I replace the entire `data` property.

[2018-07-06 10:19] hagen opened #51 "Props passed to computed binding in s:repeat has no args"
Hi again,
trying to use computed bindings inside a `s:repeat`. See line `{{calcPercentage}}`
[code]

`calcPercentage` is not getting passed the `item` from s:repeat. `item` is `undefined` in the method. Why is `item` not passed to the function in the computed binding?

[2018-07-07 11:03] yavuztor opened #52 "Incorrect call to autoBoundAttributes.includes inside attributeChangedCallback prevents attribute-property syncing"
When an attribute is set using `element.setAttribute(..)`, its auto-bound property is not updated properly, due to an incorrect call for `autoBoundProperties.includes`. https://github.com/slimjs/slim.js/blob/282ba0268fb663c607e81eab3fc6c9e08f62409d/src/Slim.js#L343

Since `includes` is a function, `this.autoBoundAttributes.includes[attr]` should be `this.autoBoundAttributes.includes(attr)`

[2018-07-08 10:25] eavichay commented on #52
great catch!
Would you pr?

[2018-07-08 10:27] eavichay commented on #51
Hey. Thanks for the issue, please try using a non-primitive tag, such as `@tag('some-component')` as you cannot use native HTML elements.
Please update if that works for you.

[2018-07-08 10:28] eavichay commented on #51
also, try `onBeforeCreated` and not `onBeforeCreate`

You can also try initialising your data in the constructor function.

[2018-07-08 10:30] eavichay commented on #50
So I understand everything works as expected now?

[2018-07-08 11:41] hagen commented on #50
Not _as expected_, but I've got it working with what I think is a work-around. I'm just seeking clarification as to how I correctly approach implementation of my scenario in Slim?

[2018-07-08 12:15] hagen commented on #51
Those were typos sorry - all component names do not clash with standard HTML tags, and I use `onBeforeCreated`.
I moved the `item` initialisation to `constructor()`, but still the first arg in the computed binding function is `undefined`.
Here's a sample of the output:
![image](https://user-images.githubusercontent.com/5161952/42419567-10214d64-82fb-11e8-8ea9-d6e9db91c34f.png)

Two of the columns

[2018-07-08 14:53] yavuztor commented on #52
Sure. I will get that soon.

[2018-07-08 20:09] #52 closed, assigned to nobody

[2018-07-08 20:45] eavichay commented on #51
Please upgrade to 3.3.1, just uploaded a fix.

Nice catch! 👍

[2018-07-08 20:46] eavichay commented on #51
btw - no need for "bind" attribute for text-binds since 3.3.0

[2018-07-08 20:50] eavichay commented on #50
The binding works locally on each component (repeated in your case). You should propagate it up either by event or by using `callAttribute` which is just a callback in an attribute... :)

I think that binding that component::label into the input::value may be incorrect in your case, try using the `<input type="text" ... input="handleInput" ... />` which will trigger you function on every change in

[2018-07-08 22:09] hagen commented on #50
Yep, thanks. The callAttribute is super useful then, as it's almost _the_ way to propagate up. I know you're doing more work on the doco - this seems a good one to include. I picked it up from looking through slim-docs repo.
Closing.

[2018-07-08 22:09] #50 closed, assigned to nobody

[2018-07-08 22:16] hagen commented on #51
Thank you!

[2018-07-08 22:16] #51 closed, assigned to nobody

[2018-07-09 09:56] eavichay commented on #51
@hagen Works for you now?

[2018-07-09 09:58] eavichay commented on #50
The best practice in web components is to dispatch events. In case of custom elements, probably using shadow-dom, you should dispatch a custom event with an init object with composed = true.

`this.dispatchEvent(new CustomEvent('myaction', { bubbles: true, composed: true, detail: whatever });`

[2018-07-10 02:04] hagen commented on #51
@eavichay works since upgrading, thanks

[2018-07-12 10:06] msaikaushik commented on #30
can i take this issue? @eavichay @sharontz

[2018-07-12 12:34] eavichay commented on #30
@IceDune Sure!

[2018-08-16 16:14] ThatScalaGuy opened #56 "Evaluate bindings in shadow dom"
Hi,
I am wondering if it is possible to evaluate the bindings when using a shadow dom.

The attached fiddle shows what I want to achieve.

http://jsfiddle.net/wmoL2v81/13/

Or is this not possible with slim.js

[2018-08-19 10:56] eavichay commented on #56
Basically, it is possible, adding a slim [plugin](https://github.com/slimjs/slim.js/wiki/Attaching-functional-plugins).

Something like
[code]

If you want to restrict for specific elements, in the plugin function filter the elements by their localName... `if (element.localName === 'my-custom-tag') ... `

Will that work for you?

[2018-08-19 10:58] #56 closed, assigned to nobody

[2018-08-19 11:02] eavichay commented on #56
https://jsfiddle.net/wmoL2v81/25/

[2018-08-19 17:10] osher opened #57 "useShadow: accept the style string as is"
Please consider the following form:

[code]
Keep up the good work.
Thanks :)

[2018-08-19 17:57] osher opened #58 "fails when <style> tag in the end of the template"
Consider a slim control with `<style>` tag in the end of the template.
Consider that an element before that `<style>` is a slim-control.
Consider the current control to have an input with an input event:

[code]

When the input event is processed - I get:
[code]
comes with log waring:
[code]

[2018-08-19 18:01] osher commented on #58
Played with it more - it fails whenever the style comes after the custom control with the `s:repeat`, no matter if there are more HTML nodes between them

[2018-08-19 19:03] osher opened #59 "repeated data element cannot be bound when alias is used"
## works
 - i.e `data` is accessible in the click handler
[code]

## does't work
 - i.e `data` is NOT accessible in the click handler
[code]

[2018-08-19 19:49] osher opened #60 "nested datasource property in repeaters"
consider the following template:
[code]

the `data.effects.length` prints correctly the number of elements, but the nested repeater does not see the data 😢

[2018-08-20 07:48] eavichay commented on #60
The bindings takes effect on `data` property, not the `effects` nested property.
If you re-set the data, does this work?

[2018-08-20 07:54] eavichay commented on #57
Thanks for the suggestion.
I think this is a little bit going too far from the standards. The aim of the library is to be "slim" as possible and contain the minimum features.
the useShadow is a true/false just to determine if to create a shadow root when the component is being instantiated.

I would, however, consider adding a `@style` decorator (and a corresponding `get style () {}` method to sim

[2018-08-20 07:56] eavichay commented on #58
I could not reproduce, can you jsbin/fiddle this?

[2018-08-20 07:58] #30 closed, assigned to eavichay

[2018-08-21 01:51] rmeshksar opened #61 "Data binding to SVG properties throws error"
Hi,
I am new to SlimJs and trying to use the data binding for some SVG attributes.
[code]

But I a m getting the following  error:

Slim.js:990 Uncaught TypeError: Cannot assign to read only property 'width' of object '#<SVGSVGElement>'
    at Slim.js:990
    at Function.commit (Slim.js:386)
    at Function.commit (Slim.js:414)
    at HTMLElement._executeBindings (Slim.js:528)
    at doRender (Sli

[2018-08-22 11:07] #57 closed, assigned to nobody

[2018-08-22 11:10] osher commented on #60
Can you please elaborate what do you mean by "re-set the data"? I don't set it anywhere, it's all templates magic

[2018-08-22 12:53] ThatScalaGuy commented on #56
Did not see your replay. I will check your recommendation next week. Thx so far.

[2018-08-24 11:26] eavichay commented on #61
Haven't yet tested on SVG. Will run tests and update.

[2018-08-25 20:29] eavichay commented on #61
@rmeshksar Hi. I have tried this and it worked just fine in a simple page. However, using the CDN es5 version something seems to break. I will look into it further.

[2018-08-25 20:40] eavichay commented on #61
@rmeshksar Added fix in v3.3.2

[2018-08-26 14:55] eavichay commented on #58
could not reproduce. https://codepen.io/eavichay/pen/ZMQdLL

[2018-08-26 14:55] #58 closed, assigned to nobody

[2018-08-26 14:57] eavichay commented on #59
By design. If you alias, the `data` property is discarded and not used.

[2018-08-26 14:57] #59 closed, assigned to nobody

[2018-08-26 15:21] rmeshksar commented on #61
Hi, the issue is still happening.
I created the following simple page to demonstrate the issue:

https://stackblitz.com/edit/js-abyjff

[2018-08-26 15:43] rmeshksar commented on #61
As you mentioned es6 version works but the es5 is still not working.

[2018-08-28 08:08] eavichay commented on #61
I need to check why this happens, probably babel are doing something wrong.
I am considering to use es6 only, as browsers that supports web components also support es6 + es modules in the browser. WDYT?

[2018-08-28 08:25] eavichay commented on #60
resetting the data, even if unchanged
`this.data = this.data` or `this.commit('data')`;

The first one invokes the setter function, which automatically invokes the commit.

[2018-08-28 12:29] eavichay commented on #61
@rmeshksar

Fixed in 3.3.4.
Problem was that the es version worked, as there is no "use strict" declaration, and the bundled version added the "use strict". This causes writing to read-only properties to throw error. I have added a isReadonly function that tests whether the property's descriptor is writable (or does not exist) and avoid writing to the property in that case.

Please verify it works

[2018-08-28 16:09] rmeshksar commented on #61
Hi,
I updated the previous Stackblitz demo with version 3.3.4 and it works fine.
Here is the updated link:
https://stackblitz.com/edit/js-hmej7p?file=index.js

Thanks so much.

[2018-08-29 08:54] eavichay commented on #61
Thank you for catching this 👍

BTW, could you share details about your project and how you came to choose slim.js?

[2018-08-29 21:07] rmeshksar commented on #61
I wanted to create a very simple and small web page as a proof of concept and since I am using Angular for my daily work, my initial attempt was naturally with Angular.
Then I thought, why do I need to add a big full framework to achieve this.
Then I looked for alternatives that are small and capable of doing data binding.

I am using this as a learning opportunity as I think I am too dependent to

[2018-08-30 14:19] eavichay commented on #61
👍 Angular (the components part) and React are redundant since web-components standard implemented.

[2018-08-30 15:58] #61 closed, assigned to eavichay

[2018-09-08 15:21] ThatScalaGuy opened #62 "Bindings a broken after calling this.render()"
I created a fiddle to show an error (or misunderstanding on my side :)).
After pressing the update button, which only calls `this.render()` I got following exception `Cannot read property 'chain' of undefined`.

Is that an issue or is it not intended to call `render()` within the component?

https://jsfiddle.net/wmoL2v81/66/   (I know the binding will be updated after the value is changed. In my r

[2018-09-11 21:39] eavichay commented on #62
@ThatScalaGuy Thanks.
Basically this error should not happen. I will look into it.

Calling render should be done carefully. If your data has changed the binding should update your DOM tree. Render is used for providing a new template instead of the current one, for example
[code]
This will replace your default template with a new one and run the binding process from scratch. As said, there is pos

[2018-09-28 05:07] btopro opened #64 "update docs for webcomponentsjs polyfill v2"
`<script src="node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>`
is the new way to do it in V2 spec, talks ref 1.x

[2018-09-28 11:28] btopro opened #65 "Changes between 3xx and 4xx"
Is there a list of changes / are they completely in switching to typescript or are there API changes as well? I got a ding from resolve bot about new version existing but I don't see anything mentioned about it here as far as release notes.

Thanks

[2018-09-28 22:07] eavichay commented on #65
The only breaking change is that the directives have been extracted into different files, i.e. you need to import them (or add link-href in your html).
There are two versions for each file: the es6 native modules and the no-module fallback.

[code]

Using webpack should make no difference, just use `import { Slim } from 'slim-js'` as usual.

If you are about to use the s:repeat, s:if, s:switch...

[2018-09-28 22:24] eavichay commented on #65
I have just updated the README. Thanks.

[2018-09-28 22:24] #65 closed, assigned to nobody

[2018-09-28 22:26] eavichay commented on #64
Thanks. Now that Safari supports web components without the need for polyfills, and firefox's next release will support web-components the polyfills are required only for IE11 or Edge.

Should I add this into the README or the docs?

WDYT?

[2018-09-29 03:37] btopro commented on #64
definitely. here's the language and stats I use in our wcfactory readme -- https://github.com/elmsln/wcfactory#end-user-support

fyi, SlimJS is a supported library in wcfactory so if there are things you'd like to see changed in our boilerplate to better promote your library's preferred starting point please feel free to post / issue PRs. I used the doc site to make the boilerplate but always open

[2018-09-29 06:25] eavichay commented on #64
Your tool looks awesome.
I'm on it 👍

[2018-09-29 14:12] btopro commented on #64
https://youtu.be/CMNYuXTe1tM?t=34m46s - Slim JS discussed in the tooling / CLI.
https://github.com/elmsln/wcfactory/tree/master/packages/generator-wcfactory/generators/init/wcfTemplates/libraries/Slim - slim template / package.json that gets pulled from to make new elements

[2018-10-01 18:26] predrag-rakic opened #66 "Semaphore config"
@eavichay

https://github.com/slimjs/slim.js/blob/master/.semaphore/semaphore.yml

Semaphore jobs are executed in separate (totally independent) VMs, so commands in Job "Install":
[code]
are executed in one VM and comand in job "Test":
[code]
is executed in other VM.

Thus, job "Test" fails.

Hope this helps.

[2018-10-04 13:34] EnricoVogt opened #67 "transitionend-event binding with slim.js"
There is no event-binding for transitionend.

https://stackoverflow.com/questions/52596322/transitionend-event-binding-with-slim-js

[2018-10-16 17:16] eavichay commented on #67
Will be fixed in the next release.
10x

[2018-10-23 07:26] eavichay commented on #46
Fixed in version 4

[2018-10-23 07:26] #46 closed, assigned to nobody

[2018-10-23 07:30] vogloblinsky commented on #46
Thanks

[2018-10-23 12:41] EnricoVogt commented on #67
Nice.

[2018-10-23 12:41] #67 closed, assigned to nobody

[2018-10-30 04:55] tiaochuan opened #68 "Custom directive like ng-class"
Any ideas on how to implement a custom directive like angular’s ng-class?

[2018-11-01 13:17] eavichay commented on #68
Answered here https://github.com/eavichay/slimjs-docs/issues/3

[2018-11-01 13:17] #68 closed, assigned to nobody

[2018-11-01 13:18] #62 closed, assigned to nobody

[2019-01-02 07:44] vogloblinsky opened #70 "Repeat directives nested"
Hi,

Considering this array :

[code]

How can i iterate to the elements ?

[code]

I correctly got the first list rendered, but inside each first line, i got ``

Thanks

[2019-01-02 11:27] eavichay commented on #70
Found a workaround: https://jsfiddle.net/cx1h9jpL
Replace the div with your own custom element and nest the repeat inside.

Converting this to a feature request.

[2019-01-02 11:41] vogloblinsky commented on #70
Thanks
This is for this benchmark : https://github.com/vogloblinsky/web-components-benchmark
The pascal triangle implementation.
I will update it tonight

[2019-01-04 16:25] vogloblinsky opened #71 "Add slim.js to Benchmark"
Hi,

I have created a benchmark suite for Web Components librairies. slim.js is implemented, and you can see the raw results here : vogloblinsky.github.io/web-components-benchmark

I will release soon a blog post explaining in detail that, but i want a feedback of many librairies authors before, to be sure i am not wrong in my implementations.

Source code here : vogloblinsky/web-components-benchm

[2019-01-06 09:10] eavichay commented on #71
10x. Looks interesting. I do question myself if pascal triangle and todo-list is a use-case to be considered?

Most benchmarks are focusing on repeating elements with minor manipulations. I was thinking of another approach of a benchmark: A real-world app that the benchmarks are:
Loading/Parsing/Interactivity, etc.
__Source code__ size, not just the bundle. The source should be clean, simple and e

[2019-01-17 13:04] vogloblinsky commented on #71
I understand your feedback.
I will add a third implementation like you suggested : https://github.com/gothinkster/realworld can be an option but very simple; or https://hnpwa.com/.
I didn't know others projects with many different code implementations.

[2019-01-31 22:26] DanielRuf opened #72 "Failing CI"
https://semaphoreci.com/eavichay/slim-js/branches/master/builds/251

[2019-02-19 19:05] AndyOGo opened #74 "appreciate your feedback for custom element reactions diagram"
I just released an adapted version of the interactive react lifecycle methods diagram for custom element reactions:
https://andyogo.github.io/custom-element-reactions-diagram/

If you have time, I would appreciate your feedback very much.

[2019-02-20 12:26] eavichay commented on #74
Look's good. I would split the constructor part into two cases: When an element is created by using some innerHTML of a wrapping element: the custom-element will have children, and when using it with `document.createElement('my-elem')` or `new MyElement()` which does not allow to populate anything (including attributes)

[2019-02-20 15:51] AndyOGo commented on #74
Fixed with:
https://github.com/AndyOGo/custom-element-reactions-diagram/pull/19

And published

[2019-02-25 09:21] gabriel-fallen opened #75 "Forbidden tag names"
I get a `SyntaxError: An invalid or illegal string was specified` exception when I try to use
[code]
or
[code]
while
[code]
works fine.

I don't understand why "app" and "main" tags cause exception, but if it can't be fixed it should at least be reflected in the documentation, I think, because these names are the first ones to come to mind for the whole application component. :)

[2019-02-25 09:42] gabriel-fallen opened #76 "Documentation update"
It would be very helpful if documentation (at [main site](slimjs.com)) contained a link to [Slim Webpack Biolerplate](github.com/slimjs/slim-webpack-boilerplate/) project.

Also, Web Components polyfill at the Getting Started page references version `1.0.17` of `webcomponents-lite.js`, and the Boilerplate project references version `1.2.7`, while the last version is `1.3.3`. Does it make sense to

[2019-02-25 12:50] eavichay commented on #76
Regarding the boilerplate: It's still not finalised so I'm waiting a little bit until it is ready.

Regarding the polyfills: All evergreen browsers now supports web components (no need for polyfills). I think they should be mentioned as a link to some external site describing when to use it.

You can easily PR to the docs [repo](https://github.com/eavichay/slimjs-docs)

👍

[2019-02-25 12:52] eavichay commented on #75
The Web components SPEC forbids using custom elements without dash. This is part of the spec. Since slim.js does not break any standard and follows the web standards (no black magic!) you should use valid tag names for custom elements.

[2019-02-25 12:52] #75 closed, assigned to nobody

[2019-02-25 12:53] eavichay commented on #75
And one comment, There is no need to export the classes (though it is in the boilerplate), unless you are trying to use types (flow/TS).

[2019-02-25 13:15] gabriel-fallen commented on #75
My bad! Didn't know that, haven't read the standard (or any comprehensive manual for that matter).

Yeah, I know, tried both ways with the same results. :)

Thanks anyway! :smiley:

[2019-02-25 13:16] gabriel-fallen commented on #75
But the error message still could be more informative, I think. Or maybe it couldn't. :)

[2019-02-25 13:24] gabriel-fallen commented on #76
Which reminds me: you should put this link on the docs site too! Because I was looking for it but couldn't find... :)

Yeah, later I found the discussion in #64

It was very useful and even enabling for me as I copied Webpack and Babel config from it, and without it nothing worked. I'm not good at Webpack config and Parcel doesn't work for my experiment at all.

[2019-02-25 13:59] eavichay commented on #75
The error message is from the browser. Keeping the library as light as possible means that If the browser provides error, slim.js should not interfere. At least this is my point of view: minimum intervention.

[2019-02-25 14:01] eavichay commented on #76
Parcel doesnt work with web components without hassle and a polyfill which called `web-components-loader` which actually executes in the runtime and alters the way webpack transpiles classes creation. I started a discussion in parcel's repo and their opinion is "zero-configuration" which means it simply cannot be done without hassle. IMO parcel is not a real-world solution.

[2019-02-25 14:02] eavichay commented on #76
![screenshot](https://user-images.githubusercontent.com/1084459/53342498-ba597780-3916-11e9-9212-8151d24d888c.png)
You can see on the top right - issues for documentation :)

[2019-02-25 14:47] gabriel-fallen commented on #75
That makes total sense.

Thanks again!

[2019-02-25 14:50] gabriel-fallen commented on #76
I guess the red badge in the bottom right corner attracted all my attention. :smile:

All right then, we can close this issue I guess.

[2019-02-26 08:19] #76 closed, assigned to nobody

[2019-02-28 13:58] TuureKaunisto opened #77 "The docs don't have an tls cert"
What the title says.

[2019-05-06 17:41] georges-gomes opened #78 "package.json.module is pointing to an unexisting file"
This makes bundlers to fail unless they fallback to the `main` property.
IMHO, should be removed or pointed to `Slim.js` like for `main` property.
Cheers

[2019-05-08 14:40] kaesar opened #79 "Storybook components"
Hi, I was wondering if `slimjs` could consider components with [Storybook](https://storybook.js.org/) or simply is possible with `Storybook for HTML` (storybook allow reuse components in development time with elegant UI and drag and drop).
I think `slimjs` proposal is great. I can imagine mixed with `Storybook` would be so cool.
Thanks any way.

[2019-05-12 07:31] eavichay commented on #79
@kaesar, you may want to check showroom.js - It is a dedicated "storybook"-like tool for web components + full puppeteer integration out of the box.

We use it at production.

Integration with storybook is just like any other storybook-custom-elements integration.

[2019-05-13 10:39] kaesar commented on #79
Ok, I'll take a look at it. Thanks.

[2019-05-13 10:39] #79 closed, assigned to eavichay

[2019-09-12 18:51] alxlchnr opened #86 "Typing for attributeChangedCallback lacks parameters"
I think the Typescript Typing for rhe attributeChangedCallback method lacks its parameters which are present in the Javascript code.

[2019-11-25 08:58] ysb opened #88 "WEBP Support"
Can you add support for uploading .webp files. It's very popular on these days.

[2019-11-26 11:12] alxlchnr commented on #86
@eavichay Can you release a new version with the fix above?

[2019-11-28 18:47] eavichay commented on #88
Hey, could you explain further what are you looking for?

[2019-11-28 21:43] ysb commented on #88
@eavichay Hi, i want to be able to upload webp files by slim. Because people are saving images from popular websites with webp extension and want to upload to our cms.

[2019-12-02 17:06] ysb commented on #88
Oh, I'm sorry, it's wrong slim. Closing the issue.

[2019-12-02 17:06] #88 closed, assigned to nobody

[2019-12-11 19:13] bannmoore opened #89 ""Uncaught TypeError" when using slim-js with @babel/preset-env"
If I use `slim-js` and `@babel/preset-env` in a webpack project, the resulting bundled code throws a console error: `Uncaught TypeError: Class constructor Slim cannot be invoked without 'new'`.

This is the slim code that is transpiled by Babel:

[code]

Please see the [demo repository](https://github.com/bannmoore/demo-slim-js-and-babel-preset-env) that reproduces the issue.

It's possible that t

[2019-12-11 20:16] eavichay commented on #89
All web components suffer from this, native or via library.
Please refer to https://github.com/slimjs/slim-webpack-boilerplate. The babel config file uses class properties plug-in and in index.html the web components polyfill is loaded.
Unfortunately with babel transpiled to es5 you must use the polyfill.

[2019-12-11 20:21] eavichay commented on #89
If you are addressing modern browsers that support custom elements without polyfill, then you may want to ditch babel. Consider working with rollup targeted as es6 modules.

[2019-12-12 14:23] bannmoore commented on #89
Thanks for responding @eavichay .

For anyone else who comes across this, the polyfill did _not_ resolve this specific problem (although it will be needed for older browsers). I was getting the above error in browsers that support the web components specification.

In order to use the latest `slim-js` in a project using `@babel/preset-env`, I needed to include it in the code transpiled through Bab

[2019-12-12 14:23] #89 closed, assigned to nobody

[2019-12-15 08:10] eavichay commented on #89
If you wish to start fresh PWA project based on slim-js, with typescript support (optional), sass/HTML/image loading via import, type `npm init slimjs myProjectFolder`

[2020-02-27 12:55] #72 closed, assigned to nobody

[2020-02-27 12:56] eavichay commented on #71
Already part of the real-world project

[2020-02-27 12:56] #71 closed, assigned to nobody

[2020-02-27 12:57] #70 closed, assigned to eavichay

[2020-02-27 12:58] #60 closed, assigned to nobody

[2020-02-27 12:58] #66 closed, assigned to nobody

[2020-02-27 12:59] #40 closed, assigned to nobody

[2020-02-27 12:59] #74 closed, assigned to nobody

[2020-02-27 13:01] #64 closed, assigned to nobody

[2020-03-08 20:52] JamieVaughn opened #90 "s:if Conditional rendering not working"
While using SlimJS for a project I need the s:if conditional rendering feature. I converted the example code to the no decorator syntax like so to test it out:
[code]

And found that both divs render immediately. So it seems like the conditional rendering feature is not working right now.

I'm importing slimJS this way:
[code]
And just putting the `<my-tag></my-tag>` element right into the body of

[2020-03-12 13:48] eavichay commented on #90
Hey,
if / switch-case / repeat, are OPTIONAL, therefore if you require using them, you should import these also.
https://unpkg.com/slim-js@4.0.7//directives/if.js
https://unpkg.com/slim-js@4.0.7//directives/repeat.js
https://unpkg.com/slim-js@4.0.7/directives/switch-case.js

[2020-03-12 13:48] eavichay commented on #90
Or use all of them at once
https://unpkg.com/browse/slim-js@4.0.7/directives/all.js

[2020-03-12 13:48] eavichay commented on #90
Please let me know if that works, so I could close this issue.

[2020-03-15 18:11] JamieVaughn commented on #90
Thank you for the tip! I am having trouble implementing it though in an es6 module script. I'm not sure the proper syntax for the directive import, since I couldn't find the export names for the directives. I tried this but that didn't seem to work:

[code]

my other thought was to do something like `import { if, switch, repeat } from 'https://unpkg.com/browse/slim-js@4.0.7/directives/all.js'; ` B

[2020-03-16 09:28] eavichay commented on #90
Remove the 'browse' from the URL.
[code]

[2020-03-16 09:29] eavichay commented on #90
FYI if you import slim from a  local node-module, you should also import the directives from the same module.

[2020-03-16 10:43] JamieVaughn commented on #90
Oops, I should have caught that 'browse' thing... anyways that fixed it and it works now. Thanks vary much for the assistance and for a nice minimalist web-components library!

[2020-03-16 10:43] #90 closed, assigned to nobody

[2020-03-16 10:48] eavichay commented on #90
You might want to try one of my two other libraries. There is an even lighter library @neow/web (alpha) it is much faster, fully expressional but lacks repeat directive (but you can add your own).

Also another one, ottavino is an object based one, that can "convert" regular HTML elements into custom-elements behavior.

https://github.com/neo-web/neow - https://webcomponents.dev/edit/fEa6HG5aeEwJ7

[2020-03-24 05:24] JamieVaughn commented on #90
Cool, both of those look really nice. I'll use them in the same project I'm doing that I used Slim for. and I let you know how it goes! Thanks!

[2020-03-29 22:56] naiteon opened #92 "[SUGGESTION] Provide a way to take outter css in the shadowDOM"
Hi! I'm considering using this lib in my project but I need to wrap up bootstrap classes and tags into reusable components.

I read this article (https://medium.com/lightbaseio/bootstrap-4-lit-element-37c857a6bcca) , where they show how to do this. The custom elements don't get any of bootstrap' style since they are in the shadow dom. But Lit Element provides an interface method to allow for rende

[2020-03-30 09:56] eavichay commented on #92
Hi.

Edited: Until constructible style-sheets will be fully implemented, this is a suggestion - based on *native* behavior of browsers.

Using the shadow root is NOT mandatory. You can visit the documentation website - http:slimjs.com and see the source maps.

If you still wish to use shadow root, I recommend either using internal style nodes with `@import` statements or sharing styles using a cus

[2020-03-30 15:43] naiteon commented on #92
Thank you so much Avichay Eyal !

Mazel tov! It's a great library my friend

רודריגו

[2020-03-30 15:44] #92 closed, assigned to nobody

[2020-03-31 10:29] #86 closed, assigned to nobody

[2021-07-07 08:53] #78 closed, assigned to nobody

[2021-07-07 08:54] eavichay commented on #78
Version 5 supports fallback

[2021-07-07 08:54] eavichay commented on #77
solved.

[2021-07-07 08:54] #77 closed, assigned to nobody

[2021-07-27 02:15] jbruni opened #97 "Non-minified package distribution"
@eavichay Hey, man! Thanks for your brilliant work!

Using Chrome Dev Tools, the `Slim` class appears as `u`

`u`?

I found that this is because, even though I'm using a stack with npm, vite, esbuild, rollup... the `import { Slim } from 'slim-js'` actually brings in the code from the minified `index.js` at `node_modules/slim-js/dist/index.js`

:scream:

Could you please let the `src` folder intact

[2021-07-27 11:34] #41 closed, assigned to nobody

[2021-07-27 11:34] eavichay commented on #41
Deprecated Feature on deprecated version.

[2021-07-31 22:26] eavichay commented on #97
Done. https://github.com/slimjs/slim.js/commit/c04cc04968f1bd86fbaaf937b70f5d91dd1e809f
Published with 5.0.9

[2021-07-31 22:26] #97 closed, assigned to eavichay

[2021-08-12 10:06] jbruni opened #101 "if directive inside foreach directive"
Consider this template:

[code]

While `item.url` and `item.name` render as expected... the `item` within the `*if` is always `undefined`.

I'm not sure if this is expected, or a bug, or how to make it work as intended. Any help is appreciated.

Thanks!

[2021-08-22 19:44] eavichay commented on #101
It looks like a bug, as the parser should postpone the *if until the `item` context is ready.
I'll look into it.

[2021-09-17 09:12] jellehak opened #104 "Idea for cleaner templates"
In the templates `this` is required, perhaps a cleaner solution is to remove the `this` from your templates. This could been done for example by updating the `expressionToJS` function. See below:

[code]

# Result
**Before**
[code]

**After**
[code]

[2021-09-26 06:54] eavichay commented on #104
Hi @jellehak, Can you please explain what is the pain point of using "this" in the template? The strict keyword `this` followed by a comma makes the detection very easy.

[2021-10-04 17:20] charlene1804 opened #106 "Unresponsive counter component"
Hello,
I would like to get some help understanding why my counter component is unresponsive.

You can see the source code here:
[code]

Thanks in advance.
Charlene

[2021-11-03 01:05] jbruni opened #108 "Documentation Site - "Oops, this page does not exists""
Hi @eavichay

All "pages" in the documentation site are showing "Oops, this page does not exists" error message at the moment.

I'm linking it from our project's README... it would be nice to have the contents appearing... can you please take a look?

Thanks! :+1:

[2021-11-03 14:55] eavichay commented on #108
marked external lib had breaking change...

Fixed. Thanks!

[2021-11-03 14:55] #108 closed, assigned to nobody

[2021-11-03 15:01] eavichay commented on #106
Hi.

Simple changes would make it work...

- Add `import 'slim-js/directives';` to support events. If you wish to only add the event directive, select it specifically.
- Replace the buttons click behavior to this: `<button @click="this.inc()">` instead of `this.inc`.

Hope this helps.

Full code below.

Closing the issue, please re-open if you have more questions/problems.

[code]

[2021-11-03 15:01] #106 closed, assigned to nobody

[2021-11-03 15:16] charlene1804 commented on #106
Thank you very much for your answer.

[2021-11-08 15:48] mj026 opened #111 "How does the property directive work?"
When I create a simplified example of the example on the [Creating an Element](https://slimjs.com/#/creating-an-element) documentation page:

[code]

I expect that `this.who` will be set with the `.who` property, but whatever I do, it stays `undefined`.

I guess I don't understand the concept of the `.who` property, could you explain how this works?

[2021-11-08 22:34] mj026 commented on #111
~~I see now when I import the `property-directive` directly that this doesn't work~~
[code]

~~Could it be that I need a newer version of Node (I have 14.17)?~~

Edit: User error in my attempt to add some debugging statements. ~~Original questions still applies (for now).~~

[2021-11-09 12:16] mj026 commented on #111
So two things I figured out:
- The `.who` attribute should contain an expression, not a static value (so something like `{{this.getSomething()}}`)
- The `PluginRegistry` applies the property directive and binds the property _before_ the constructor is called.

Working example:

[code]
I know that pre-binding properties in javascript before the constructor is called is a common pattern in some fram

[2021-11-09 12:32] eavichay commented on #111
Hi. Are you using any babel/transpiling tools? These affect the way class properties are declared. Some tools use Object.defineProperty and thus destroy the internals.

[2021-11-09 12:36] mj026 commented on #111
I use webpack 5 with `@babel/preset-env`, so that could indeed be the case. However, as stated above, the `'slim-js/property-directive` is called before the constructor, so that would not make a difference right?

[2021-11-09 12:41] eavichay commented on #111
Regarding your question.
Every class that extends Slim has a static template property. It is just a string, that should represent a decent valid HTML Markup.
During the construction phase, the template is parsed by the browser (in-memory, inside a document fragment). There is a tree-walker (native, implemented by the browser) that iterates over the constructed tree. Every node that has "{{ ... }}"

[2021-11-09 12:46] eavichay commented on #111
The directives are optional, therefore can be consumed separately.
Directives are a unique form of attributes, usually with a special (but valid) character.
The **property directive** is called every time there is an attribute that starts with a period.

The property simply executes the content of the expression every time a detected (and relevant) change occurs, and updates the *property* on the

[2021-11-09 13:25] mj026 commented on #111
`The property simply executes the content of the expression every time a detected (and relevant) change occurs, and updates the property on the target element.`

Yes and this is a really nice feature I like. It's just how the initial value of the property is set as you say:

`Either avoid transpiling class properties, or just initialize those in the constructor.`

So initially, in the first load t

[2021-11-09 15:47] mj026 commented on #111
Before anything else: Thank you for answering this (and thanks for this awesome framework too!!)

So, to rule out any webpack or transpiling, a pure browser version:
[code]

When I define a class property called who:
[code]

or when I initialize it in the constructor

[code]

It will overwrite the initial who property defined with```<my-greeting .who="{{this.who}}"></my-greeting>```. So this will

[2021-11-15 15:50] eavichay commented on #111
It sounds like something needs to be fixed. I'll try your example as-is.

[2021-11-15 22:06] mj026 commented on #111
Interestingly enough, the test in https://github.com/slimjs/slim.js/pull/112/commits/f5b5fbf5c30e85e38a7cb508683a9264cc72ec4a is passing, so in the JSDOM browser, the constructor is called _before_ the directive is handling the property.

[2021-11-22 09:16] eavichay commented on #111
The constructor should always be called first.

[2021-12-28 18:45] milosPavic opened #114 "Query in template css class name does not work in object usage only in object creation"
Query in template css class name does not work in object usage only in object creation
[code]
this.isActive:true/false is working on object creation
[code]
[code]

[2021-12-29 17:51] Granipouss opened #115 "Issue with Webpack exports"
Hey team,

Great lib!

In the `./package.json`, the default export should be last (https://github.com/slimjs/slim.js/blob/master/package.json#L36)
else webpack throws an error "Module not found: Error: Default condition should be last one".

Cheers,

[2022-01-05 16:15] eavichay commented on #114
When the element is created via the DOM the constructor receives no paramters. You might want to try this:
[code]

Web components do support using constructors, but it is not recommended if you intend to use templates.

Let me know how this works for you, I will be happy to assist.

[2022-03-15 14:08] Leland-create commented on #101
Hi,
@eavichay Any progress on this?
Btw: thanks for a great framework :)

[2022-03-23 20:34] lmtr0 opened #116 "How to setup vscode with `/*html*/` and typings"
Hello there, good day!

How do I set up vscode for it to work with `/*html*/` and how do I set up typing with typescript?

this is how my vscode looks right now
![image](https://user-images.githubusercontent.com/57605930/159790760-4df79687-6c4d-469f-8731-73a4f1ea54d2.png)

[2022-05-01 08:35] eavichay commented on #116
This might work for you.

https://marketplace.visualstudio.com/items?itemName=Tobermory.es6-string-html

[2022-05-01 08:35] #116 closed, assigned to nobody

[2022-05-01 08:37] #114 closed, assigned to nobody

[2022-05-01 17:45] lmtr0 commented on #116
thank you

[2022-06-03 08:27] marwie opened #122 "Links broken on slimjs.org"
on https://slim.js.org/

e.g. ``Read the documentation`` points to http://slimjs.com/ which returns ``403 Forbidden``

[code]

same with the developer guide at the bottom

[2022-06-30 10:30] eavichay commented on #122
AWS Problems. Will migrate the site to github pages soon.

[2022-09-20 17:33] mateusz-lisik commented on #101
Would love to use it too!